.profile-avatar{
    border-color: white;
}

.profile-colored{
    margin-left: 0%;
    margin-top: 0%;
    width: 100%;
    height: 300px;
    background-color: #e0e0e0 ;
}

.user-name{
    padding-bottom: 0px;
}