.main-rectangle{
    margin-left: 0%;
    margin-top: 0%;
    justify-self: left;
    overflow: hidden;
    border-radius: 0px 51px 51px 0px;
    width: 585px;
    height: 700px;
    background-color: #ffffff ;
}
